# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
BoatCounting.VC.db
*.opendb
ConsoleApplication1.VC.db
*.filters
ConsoleApplication1/ConsoleApplication1.vcxproj.user
*.obj
ConsoleApplication1/x64/Debug/basefunctions.obj.enc
*.enc
ConsoleApplication1/x64/Debug/boatCounting.pch
*.tlog
ConsoleApplication1/x64/Debug/ConsoleApplication1.log
*.log
ipch/CONSOLEAPPLICATION1-6a3d73d7/BOATCOUNTING-4cda1c91.ipch
*.ipch
*.exe
x64/Release/ConsoleApplication1.iobj
*.ipdb
x64/Release/ConsoleApplication1.pdb
*.pdb
x64/Release/boatCounting.iobj
*.ilk
ConsoleApplication1/x64/Release/boatCounting.pch
*.idb
